.fade
    &-in
        &-up
            -webkit-animation-name: fade-in-up
            -moz-animation-name: fade-in-up
            -o-animation-name: fade-in-up
            animation-name: fade-in-up
        &-left
            -webkit-animation-name: fade-in-left
            -moz-animation-name: fade-in-left
            -o-animation-name: fade-in-left
            animation-name: fade-in-left   
        &-static
            -webkit-animation-name: fade-in-static
            -moz-animation-name: fade-in-static
            -o-animation-name: fade-in-static
            animation-name: fade-in-static   

.slide
    &-in
        &-left
            -webkit-animation-name: slide-in-left
            -moz-animation-name: slide-in-left
            -o-animation-name: slide-in-left
            animation-name: slide-in-left 
        &-right
            -webkit-animation-name: slide-in-right
            -moz-animation-name: slide-in-right
            -o-animation-name: slide-in-right
            animation-name: slide-in-right
.zoom-in-static
    -webkit-animation-name: zoom-in-static
    -moz-animation-name: zoom-in-static
    -o-animation-name: zoom-in-static
    animation-name: zoom-in-static
.flip-in-up    
    -webkit-animation-name: flip-in-up
    -moz-animation-name: flip-in-up
    -o-animation-name: flip-in-up
    animation-name: flip-in-up 

