.answer
    &_small__2SKUB, &_large__2OoMk, &_medium__h9U8l
            position: relative
            display: -webkit-flex
            display: -moz-box
            display: -ms-flexbox
            display: flex
            width: -webkit-calc(50% - .88rem)
            width: -moz-calc(50% - .88rem)
            width: calc(50% - .88rem)
            text-align: left
            margin: 0 .4rem .8rem
            background-color: #fff
            border: 1px solid rgba(0,0,0,0)
            -webkit-box-shadow: 0 0 2rem 0 #eee
            -moz-box-shadow: 0 0 2rem 0 #eee
            box-shadow: 0 0 2rem 0 #eee
            -webkit-transition: border-color .4s ease,-webkit-box-shadow .4s ease
            transition: border-color .4s ease,-webkit-box-shadow .4s ease
            -o-transition: border-color .4s ease,box-shadow .4s ease
            -moz-transition: border-color .4s ease,box-shadow .4s ease,-moz-box-shadow .4s ease
            transition: border-color .4s ease,box-shadow .4s ease
            transition: border-color .4s ease,box-shadow .4s ease,-webkit-box-shadow .4s ease,-moz-box-shadow .4s ease
            & input
                display: none
    &-label
        &_default
            &__12E66
                position: relative
                display: block
                width: 100%
                -webkit-transition: .3s ease
                -o-transition: .3s ease
                -moz-transition: .3s ease
                transition: .3s ease
                cursor: pointer
    &-content
        &_detail
            &__3NlKq
                padding: 1.3rem 2rem 1rem 4rem
        &_plain
            &__1TEbJ
                padding: 1.5rem 1rem 1.5rem 4.2rem
                display: table
                min-height: 100%
        &_card
            &__374KB
                width: 100%
                padding: 1.2rem 1.3rem
                min-height: 9rem
                text-align: center   
    &_card
        &__1NzG8
                min-width: 12rem
                border-color: #e6e6e6
        
                       

@media ( min-width: 661px)  
   .answer
        &_medium__h9U8l
            width: -webkit-calc(25% - .88rem)
            width: -moz-calc(25% - .88rem)
            width: calc(25% - .88rem)
            & input 
                display: none   

@media ( min-width: 901px) 
    .answer
        &_small__2SKUB
            width: -webkit-calc(20% - .88rem)
            width: -moz-calc(20% - .88rem)
            width: calc(20% - .88rem)


            

