.description
    &_description
        &__1S_9o
                font-weight: 400
                font-size: 1.1em
                color: inherit
                max-width: 39rem
                margin-bottom: 2rem
                line-height: 1.6
                position: relative

.descriptor
    &_default
        &__qK0WD,&__2T9Hg
            float: left
            height: 4rem
            font-size: 1.1em
            font-weight: 400
            line-height: 1.5
            padding: .4rem 0 0 1.75rem
            letter-spacing: 1px
            border-left: 1px solid #ccc


.logo
    &_default
        &__199KR
            float: left
            height: 4rem
            -o-object-fit: contain
            object-fit: contain
            margin-right: 1.5rem
            cursor: pointer
            max-width: 14rem
    &_footer
        &__wAgrk  
            float: left
            height: 4rem
            -o-object-fit: contain
            object-fit: contain
            margin-right: 1.5rem
            cursor: pointer
            max-width: 14rem
    &_logo
        &__4Jjze
            float: left
            height: 4rem
            -o-object-fit: contain
            object-fit: contain
            margin-right: 1.5rem
            cursor: pointer
            max-width: 14rem

@media ( max-width: 960px)  
    .description_description__1S_9o
        margin: 0 auto 2rem
        font-size: 1.2em   

    .logo_default__199KR, .logo_footer__wAgrk, .logo_logo__4Jjze 
        float: none
        display: inline-block
        text-align: center
        margin-right: 0 
    .descriptor_default__2T9Hg, .descriptor_descriptor__qK0WD 
        float: none
        padding-top: .5rem
        padding-left: 0
        border: none
        height: auto
        line-height: 1.3
        margin-bottom: 1rem  
    .phone_phone__3jrTf 
        float: none
        display: block
        width: 100%
        text-align: center
        font-size: 1.7rem
        line-height: 2
        margin-right: 0
        padding: 0                                                 