.offer
    &_offer
        &__JiZTB
            position: relative
            z-index: 10
            font-size: 2.8em
            font-weight: 400
            margin-bottom: 1.5rem
            line-height: 1.1
            & i
                display: block
                font-style: normal 
@media ( max-width: 960px)  
    .offer_offer__JiZTB
        font-size: 2.4em             
@media ( max-width: 600px)  
    .offer_offer__JiZTB
        font-size: 2.2em 
        line-height: 5.3vh
        margin-bottom: 3vh
        & i
            display: inline            