.question
    &-container
        &_default
            &__3fXrW
                text-align: center
                position: relative
                z-index: 10
    &_question
        &__35CQU
            position: relative 
            z-index: 1 
            width: 100% 
            height: auto 
            text-align: center 
            padding-top: 7.5rem
    &_header
        &__1hHV9
            width: 100% 
            max-width: 70vw 
            font-size: 2.2em 
            font-weight: 700 
            margin: 0 auto 1.3rem
    &_answersContainer
        &__20Aez
            display: -webkit-flex
            display: -moz-box
            display: -ms-flexbox
            display: flex
            max-width: 65rem
            margin: 0 auto
            text-align: center
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            -webkit-justify-content: center
            -moz-box-pack: center
            -ms-flex-pack: center
            justify-content: center
            -webkit-transition: margin-bottom .3s ease
            -o-transition: margin-bottom .3s ease
            -moz-transition: margin-bottom .3s ease
            transition: margin-bottom .3s ease    
@media (max-width: 900px)
    .question_question__35CQU 
        width: 100%
        min-width: 0
        text-align: center      
@media (max-width: 800px)
    .question_header__1hHV9 
        font-size: 1.5em
        max-width: none

@media (max-width: 700px)
    .question-container_buttonContainer__3i558 
        position: fixed
        z-index: 100
        bottom: 0
        left: 0
        right: 0
        height: 5.2rem
        background-color: hsla(0,0%,100%,.9)
        opacity: .8!important              




           